/**
    Añadirle la propiedad border box a todos los elementos html para que tanto el borde como el padding
    estén incluídos a lo largo y ancho de todos los elementos.
*/

* {
    box-sizing: border-box;
}

body {
    background-color: lightskyblue;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

  [class="col-"] {
    float: left;
    padding: 15px;
}


.Header {
    background-color: lightblue;
    border: solid black 10px;
}

.TítuloPágina {
    font-family:'Babylonica', cursive ;
    font-size: 70px;
}

.TítuloNoticia {
    padding: 10px 10px 5px 15px;
    font-size: 50px;
    font-family:'Oswald', sans-serif;
    font-family:'Roboto', sans-serif;
    color: black;
}

.CuerpoNoticia {
    font-family: sans-serif;
    padding: 5px 5px 5px 10px;
    margin: 5px 10px 5px 5px;
}

img {
    border: green 5px solid;
}

.figcaption1 {
    font-family: 'Lato', sans-serif;
}

h2 {
    font-family: sans-serif;
    padding-left: 15px;
    padding-bottom: 20px;
}

button {
    color: white;
    background-color: black;
}
.NoticiasRelacionadas {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: black;
}

.PiePagina {
    font-family: sans-serif;
    background-color: aquamarine;
    font-size: 20px;
}

/** Para computadoras */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /**Para Móviles*/
    [class*="col-"] {
        width: 100%;
      }
}